# Dependency directories
node_modules/
vendor/
/app/Dependencies

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# any zip
*.zip

# local build-file
build/build.properties
languages/*.json
block/
