body.taxonomy-dl_icon_set .term-description-wrap, body.taxonomy-dl_icon_set .term-slug-wrap { display: none }
body.taxonomy-dl_icon_set input[type="number"] { width: auto }

.downloadlist-transient {
	position: relative;
	z-index: 1;
}

#downloadlist_custom_icons label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.4em;
}

#downloadlist_custom_icons .form-field {
	margin-bottom: 1em;
}

#downloadlist_custom_icons .downloadlist-image-choose:not(.button) {
	display: inline-block;
}

#downloadlist_custom_icons .downloadlist-image-choose img {
	width: 150px;
}

body .review-hint-button:after {
	color: #d4af37;
	content: "\f155 \f155 \f155 \f155 \f155";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}

body.post-type-dl_icons .mine { display: none }
