/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-downloadlist-list-draggable {
  list-style: none;
  overflow: hidden;
  padding-left: 32px;
  & > button {
	  color: inherit;
	  float: right;
	  opacity: 0.5;
	  transition: opacity 0.8s ease-in-out;
  }
}
.wp-block-downloadlist-list.is-selected .wp-block-downloadlist-list-draggable > button, .wp-block-downloadlist-list:hover .wp-block-downloadlist-list-draggable > button { opacity: 1 }
.wp-block-downloadlist-list-draggable:before {
  display: inline-block;
  margin-left: -32px;
  margin-right: 8px;
  vertical-align: middle;
  width: 24px !important;
}
body .edit-post-visual-editor .components-sortable > * {
  cursor: grab;
  overflow: hidden;
}
