/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-downloadlist-list {
  background-color: #fff;
  padding: 8px;
  button > svg { width: 24px }
}
.wp-block-downloadlist-list-draggable {
  background: transparent;
  --wp--typography--line-height: var(--global--line-height-body);
  color: var(--global--color-primary);
  font-family: var(--global--font-secondary);
  font-size: var(--global--font-size-base);
  font-weight: normal;
  list-style: none;
  padding-left: 32px;
  & > button {
	float: right;
  }
}
.wp-block-downloadlist-list-draggable:before {
  transform: none !important;
  position: static !important;
  content: "\f497" !important;
  display: inline-block;
  font-family: dashicons, sans-serif;
  font-size: 24px;
  margin-left: -32px;
  margin-right: 8px;
  vertical-align: middle;
  width: 24px !important;
}
.wp-block-downloadlist-list-draggable.file_application:before {
	content: "\f497" !important;
}
.wp-block-downloadlist-list-draggable.file_pdf:before {
  content: "\f190" !important;
}
.wp-block-downloadlist-list-draggable.file_audio:before {
  content: "\f500" !important;
}
.wp-block-downloadlist-list-draggable.file_video:before {
  content: "\f126" !important;
}
.wp-block-downloadlist-list-draggable.hideIcons { padding-left: 12px; }
.wp-block-downloadlist-list-draggable.hideIcons:before { display: none }
body .edit-post-visual-editor .components-sortable > * {
  cursor: grab;
  margin-bottom: 8px !important;
  overflow: hidden;
  padding-left: 32px !important;
}
button.downloadlist-list-trash:before {
  content: "\f182";
  display: inline-block;
  font-family: dashicons, sans-serif;
  font-size: 24px;
  vertical-align: middle;
}
