/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-downloadlist-list {
  padding-left: 0;
  li { list-style: none }
  li:before {
	display: inline-block;
	font-size: 24px;
	margin-right: 8px;
	vertical-align: middle;
	width: 24px;
  }
 .hide-icon {
	 padding-left: 0;
	 &:before {
		 display: none
	 }
 }
}
