/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-downloadlist-list {
  li:before {
	display: inline-block;
	font-size: 24px;
	margin-left: -32px;
	margin-right: 8px;
	vertical-align: middle;
	width: 24px;
  }
}

.wp-block-downloadlist-list.hideIcon {
  padding-left: 0;
  li { list-style: none }
  li:before { display: none }
}

