name: Build release zip

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build:
    name: Build release zip
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup WP-CLI
        uses: godaddy-wordpress/setup-wp-cli@1

      - name: Run package installs and builds
        run: |
          composer install
          composer update
          npm i
          npm run build
          cd vendor/threadi/easy-dialog-for-wordpress/
          npm i
          npm run build
          cd ../../../
          mkdir -p css/fontawesome/
          mkdir -p css/webfonts/
          cp node_modules/@fortawesome/fontawesome-free/css/all.css css/fontawesome/fontawesome6.css
          cp -r node_modules/@fortawesome/fontawesome-free/webfonts/ css/
          mkdir -p css/bootstrap/fonts/
          cp node_modules/bootstrap-icons/font/bootstrap-icons.css css/bootstrap/bootstrap-icons.css
          cp -r node_modules/bootstrap-icons/font/fonts/ css/bootstrap/

      - uses: anchore/sbom-action@v0

      - name: Generate autoloader
        run: composer dump-autoload -oa --no-dev

      - name: Run PHPStan check
        run: vendor/bin/phpstan analyse

      - name: PHP Compatibility check
        run: vendor/bin/phpcs -p app --standard=PHPCompatibilityWP

      - name: Run WordPress Coding Standard fixes
        run: vendor/bin/phpcbf --standard=ruleset.xml .
        continue-on-error: true

      - name: Run WordPress Coding Standard checks
        run: vendor/bin/phpcs --standard=ruleset.xml .

      - name: Set version number 1
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'download-list-block-with-icons.php'
          search-text: '@@VersionNumber@@'
          replacement-text: ${{ github.ref_name }}

      - name: Set version number 3
        uses: richardrigutins/replace-in-files@v2
        with:
          files: 'readme.txt'
          search-text: '@@VersionNumber@@'
          replacement-text: ${{ github.ref_name }}

      - name: Create ZIP release
        run: |
          rm -fr assets
          rm -fr build
          rm -fr releases
          rm -fr svn
          rm -fr languages
          rm -fr src
          rm changelog.md
          rm readme.md
          rm ruleset.xml
          cd ..
          mv ${{ github.event.repository.name }} download-list-block-with-icons
          zip -rq ${{ github.event.repository.name }}_${{ github.ref_name }}.zip download-list-block-with-icons/* -x "*/.git/*" "*/.github/*" "*/blocks/*/src/*" "*/docs/*" "*/phpcs.xml" "*/composer.json" "*/composer.lock" "*/package.json" "*/package-lock.json" "*/ruleset.xml" "*/.gitignore" "*/vendor/*" "*/node_modules/*" "/.editorconfig" "*/.gitkeep"
          zip -urq ${{ github.event.repository.name }}_${{ github.ref_name }}.zip download-list-block-with-icons/vendor/autoload.php
          zip -urq ${{ github.event.repository.name }}_${{ github.ref_name }}.zip download-list-block-with-icons/vendor/composer/*
          zip -urq ${{ github.event.repository.name }}_${{ github.ref_name }}.zip download-list-block-with-icons/vendor/threadi/*/build/*
          mv download-list-block-with-icons ${{ github.event.repository.name }}
          cp ${{ github.event.repository.name }}_${{ github.ref_name }}.zip ${{ github.event.repository.name }}/

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: ${{ github.event.repository.name }}_${{ github.ref_name }}.zip
