name: Generate SBOM

on:
    workflow_dispatch:

jobs:
    build:
        name: Generate SBOM
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: anchore/sbom-action@v0
