name: Testing

on:
  pull_request:
    branches:
      - master

jobs:
  phpunit:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.5', '8.4', '8.3', '8.2', '8.1', '8.0']
    services:
      database:
        image: mysql:latest
        env:
          MYSQL_DATABASE: wordpress_tests
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
    steps:
      - name: Check out source code
        uses: actions/checkout@v4

      - name: Run package installs and builds
        run: |
            composer install
            composer update
            npm i
            npm run build
            cd vendor/threadi/easy-dialog-for-wordpress/
            npm i
            npm run build
            cd ../../../
            mkdir -p css/fontawesome/
            mkdir -p css/webfonts/
            cp node_modules/@fortawesome/fontawesome-free/css/all.css css/fontawesome/fontawesome6.css
            cp -r node_modules/@fortawesome/fontawesome-free/webfonts/ css/
            mkdir -p css/bootstrap/fonts/
            cp node_modules/bootstrap-icons/font/bootstrap-icons.css css/bootstrap/bootstrap-icons.css
            cp -r node_modules/bootstrap-icons/font/fonts/ css/bootstrap/

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: phpunit-polyfills:1.1
          extensions: mbstring, xml, zip, intl, pdo, mysql
          coverage: none

      - name: Install SVN
        run: sudo apt-get update && sudo apt-get install -y subversion

      - name: Setup tests
        run: bash bin/install-wp-tests.sh wordpress_tests root root 127.0.0.1 latest true

      - name: Run tests
        run: composer test
